In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
csvfile = 'Resources/KickstarterData.csv'
# Read our Kickstarter data into pandas
kickstarter_df = pd.read_csv(csvfile)

In [3]:
# Get a list of all of our columns for easy reference
kickstarter_df.columns

Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'currency', 'currency_symbol',
       'currency_trailing_code', 'deadline', 'state_changed_at', 'created_at',
       'launched_at', 'staff_pick', 'is_starrable', 'backers_count',
       'static_usd_rate', 'usd_pledged', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')

In [4]:
# Extract "name", "goal", "pledged", "state", "country", "staff_pick",
# "backers_count", and "spotlight"
kickstarter_filtered = kickstarter_df[['name','goal','pledged','state','country','staff_pick','backers_count','spotlight']]
kickstarter_filtered.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True
1,MR INCREDIBLE by Camilla Whitehill - VAULT Fes...,2500.0,2936.0,successful,GB,True,15,True
2,RUN,1000.0,1200.0,successful,GB,False,30,True
3,9th International Meeting of Youth Theatre sap...,2000.0,2135.0,successful,IT,False,24,True
4,Get Conti to the Ed Fringe!,1000.0,1250.0,successful,GB,False,28,True

In [5]:
# Remove projects that made no money at all
kickstarter_filtered = kickstarter_filtered.loc[kickstarter_filtered['pledged'] > 0,:]
kickstarter_filtered['pledged'].min()

1.0

In [6]:
# Collect only those projects that were hosted in the US
kickstarter_us = kickstarter_filtered.loc[kickstarter_filtered['country'] == 'US',:]
kickstarter_us.head()
# Create a list of the columns
list(kickstarter_us.columns)
# Create a new df for "US" with the columns above. 
#did that above

['name',
 'goal',
 'pledged',
 'state',
 'country',
 'staff_pick',
 'backers_count',
 'spotlight']

In [7]:
# Create a new column that finds the average amount pledged to a project
kickstarter_us['Average Pledged'] = kickstarter_us['pledged']/kickstarter_us['backers_count']
kickstarter_us.head()

C:\Users\Adrianna\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Average Pledged
0,The Class Act Players Theatre Company Presents...,1500.0,2925.0,successful,US,False,17,True,172.058824
8,Forefront Festival 2015,7200.0,7230.0,successful,US,False,68,True,106.323529
11,Hamlet the Hip-Hopera,9747.0,10103.0,successful,US,True,132,True,76.537879
14,Pride Con,15000.0,15110.0,successful,US,False,60,True,251.833333
15,En Garde Arts Emerging Artists Festival BOSSS,10000.0,10306.0,successful,US,True,80,True,128.825000

In [8]:
# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation
#kickstarter_us['Average Pledged','goal','pledged'].astype(float)
kickstarter_us['Average Pledged']=kickstarter_us['Average Pledged'].map('${:,.2f}'.format)
kickstarter_us['goal']=kickstarter_us['goal'].map('${:,.2f}'.format)
kickstarter_us['pledged']=kickstarter_us['pledged'].map('${:,.2f}'.format)
kickstarter_us.head()

C:\Users\Adrianna\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Adrianna\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Adrianna\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Average Pledged
0,The Class Act Players Theatre Company Presents...,"$1,500.00","$2,925.00",successful,US,False,17,True,$172.06
8,Forefront Festival 2015,"$7,200.00","$7,230.00",successful,US,False,68,True,$106.32
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
14,Pride Con,"$15,000.00","$15,110.00",successful,US,False,60,True,$251.83
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82

In [9]:
# Calculate the total number of backers for all US projects
kickstarter_us['backers_count'].sum()

89273

In [10]:
# Calculate the average number of backers for all US projects
kickstarter_avg_backers = kickstarter_us['backers_count'].sum() / kickstarter_us['backers_count'].count()
kickstarter_avg_backers

41.931892907468296

In [11]:
# Collect only those US campaigns that have been picked as a "Staff Pick"
kickstarter_us_picks=kickstarter_us.loc[kickstarter_us['staff_pick']==True,:]
kickstarter_us_picks.head()

,name,goal,pledged,state,country,staff_pick,backers_count,spotlight,Average Pledged
11,Hamlet the Hip-Hopera,"$9,747.00","$10,103.00",successful,US,True,132,True,$76.54
15,En Garde Arts Emerging Artists Festival BOSSS,"$10,000.00","$10,306.00",successful,US,True,80,True,$128.82
39,"""Poor People"" at FringeNYC 2015","$5,500.00","$5,682.00",successful,US,True,34,True,$167.12
44,Queen Mab's Steampunk and Fairie Street Festival,"$1,300.00","$3,363.00",successful,US,True,62,True,$54.24
45,RAFT: a new play by Emily Kitchens,"$7,500.00","$7,826.00",successful,US,True,120,True,$65.22

In [21]:
# Group by the state of the campaigns and see if staff picks matter (Seems to matter quite a bit)
kickstarter_us_state = kickstarter_us.groupby('state')
kickstarter_us_state['name'].count()

state
canceled       216
failed        1123
live            13
successful     775
suspended        2
Name: name, dtype: int64

In [22]:
kickstarter_us_state_picked = kickstarter_us_picks.groupby('state')
kickstarter_us_state_picked['name'].count()

state
canceled        6
failed         21
live            2
successful    145
Name: name, dtype: int64