In [26]:
import pandas

In [27]:
import pandas as pd

In [28]:
#can create a series in pandas
ourList = ["UCLS", "UC Berkley", "UC Irvine"]

In [29]:
data_series = pd.Series(ourList)

In [30]:
type(data_series)

pandas.core.series.Series

In [31]:
data_series

0          UCLS
1    UC Berkley
2     UC Irvine
dtype: object

In [32]:
ourDictionary = [{'state':'New Jersey','abreviation':'NJ'},{'state':'Colorado','abreviation':'CO'}]

In [33]:
data_series = pd.DataFrame(ourDictionary)

In [34]:
data_series

        state abreviation
0  New Jersey          NJ
1    Colorado          CO