### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [3]:
purchase_data_SN = purchase_data.loc[:,["SN"]]
purchase_data_players = purchase_data_SN.rename(columns={"SN":"Total Players"})
total_players_df = pd.DataFrame({"Total Players": [purchase_data_players["Total Players"].nunique()]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data["Item ID"].nunique()
total_revenue = float(sum(purchase_data['Price']))
total_purchases = len(purchase_data['Price'])
average_price = total_revenue / total_purchases
summary_df = pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price': [average_price], 'Number of Purchases':[total_purchases], 'Total Revenue':[total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [5]:
#price and revenue formatting
summary_df['Average Price'] = summary_df['Average Price'].astype(float).map('${:,.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].astype(float).map('${:,.2f}'.format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Total count
total_players = purchase_data['SN'].nunique()
#Males
male_count = purchase_data[purchase_data['Gender'] == 'Male'].nunique()['SN']
male_percent = str(round((male_count / total_players * 100),2))+'%'
#Females
female_count = purchase_data[purchase_data['Gender'] == 'Female'].nunique()['SN']
female_percent = str(round((female_count / total_players * 100),2))+'%'
#others
other_count = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed'].nunique()['SN']
other_percent = str(round((other_count / total_players * 100),2))+'%'

gender_summary = pd.DataFrame({"Total Count": [male_count,female_count,other_count],"Percentage of Players":[male_percent,female_percent,other_percent]},index=['Male','Female','Other / Non-Disclosed'])
gender_summary

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Male data, gender count from above
male_purchase_count = len(purchase_data[purchase_data['Gender']=='Male']['Price'])
male_avg_price = purchase_data[purchase_data['Gender']=='Male'].mean()['Price']
male_tot_value = purchase_data[purchase_data['Gender']=='Male'].sum()['Price']
male_tot_per_person = male_tot_value / male_count

#Female data, gender count from above
female_purchase_count = len(purchase_data[purchase_data['Gender']=='Female']['Price'])
female_avg_price = purchase_data[purchase_data['Gender']=='Female'].mean()['Price']
female_tot_value = purchase_data[purchase_data['Gender']=='Female'].sum()['Price']
female_tot_per_person = female_tot_value / female_count

#Other data, gender count from above
other_purchase_count = len(purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']['Price'])
other_avg_price = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed'].mean()['Price']
other_tot_value = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed'].sum()['Price']
other_tot_per_person = other_tot_value / other_count

#Summary Table dataframe
summary_gender_table = pd.DataFrame({'Purchase Count':[male_purchase_count,female_purchase_count,other_purchase_count],
                                    'Average Purchase Price':[male_avg_price,female_avg_price,other_avg_price],
                                    'Total Purchase Value':[male_tot_value,female_tot_value,other_tot_value],
                                    'Avg Total Purchase per Person':[male_tot_per_person,female_tot_per_person,other_tot_per_person]},
                                   index=['Male','Female','Other / Non-Disclosed'])
#Formatting columns
def format(x):
    return "${:.2f}".format(x)
summary_gender_table['Average Purchase Price'] = summary_gender_table['Average Purchase Price'].apply(format)
summary_gender_table['Total Purchase Value'] = summary_gender_table['Total Purchase Value'].apply(format)
summary_gender_table['Avg Total Purchase per Person'] = summary_gender_table['Avg Total Purchase per Person'].apply(format)
summary_gender_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0,9,14,19,24,29,34,39,100]
bin_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-59','40+']
#Check bins worked
pd.cut(purchase_data['Age'],bins,labels=bin_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-59 < 40+]

In [9]:
#Add column for Age Group and another for Total Count that mirrors original SN column (so as to not rename the column for future work)
purchase_data['Age Group'] = pd.cut(purchase_data['Age'],bins,labels=bin_labels)
purchase_data['Total Count'] = purchase_data['SN']
#purchase_data.head()
#Group the data by age
age_grouped = purchase_data.groupby('Age Group')
#Set up dataframe by group
age_grouped = age_grouped[['Total Count']].nunique()
#calculate percentage of players and add as a column
age_grouped['Percentage of Players']=round(age_grouped.apply(lambda x: x/x.sum())*100,2)
age_grouped['Percentage of Players'] = age_grouped['Percentage of Players'].map('{:,.2f}%'.format)
age_grouped

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-59               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#functions for values
def agg(x):
    column_names = {
        'Purchase Count': x['Price'].count(),
        'Average Purchase Price': x['Price'].mean(),
        'Total Purchase Value': x['Price'].sum(),
        'Avg Total Purchase per Person': x['Price'].sum() / x['SN'].nunique()}
    return pd.Series(column_names,index=['Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person'])

#new df set for GroupBy
age_purchasing = purchase_data.groupby('Age Group').apply(agg)

#formatting columns
age_purchasing['Purchase Count'] = age_purchasing['Purchase Count'].astype(int)
age_purchasing['Average Purchase Price'] = age_purchasing['Average Purchase Price'].map('${:,.2f}'.format)
age_purchasing['Total Purchase Value'] = age_purchasing['Total Purchase Value'].map('${:,.2f}'.format)
age_purchasing['Avg Total Purchase per Person'] = age_purchasing['Avg Total Purchase per Person'].map('${:,.2f}'.format)
age_purchasing

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-59,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#new functions, same as above but no avg total purchase per person
def agg_top(x):
    column_names = {
        'Purchase Count': x['Price'].count(),
        'Average Purchase Price': x['Price'].mean(),
        'Total Purchase Value': x['Price'].sum(),}
    return pd.Series(column_names,index=['Purchase Count','Average Purchase Price','Total Purchase Value'])
#create new df, grouped by SN, and agg_top function applied to get necessary data
top_spenders_df = purchase_data.groupby('SN').apply(agg_top)
#sorting 
top_spenders = top_spenders_df.sort_values('Total Purchase Value',ascending=False)
#formatting columns
top_spenders['Purchase Count'] = top_spenders['Purchase Count'].astype(int)
top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map('${:,.2f}'.format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map('${:,.2f}'.format)
top_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#new functions
def agg_items(x):
    column_names = {
        'Purchase Count': x['Price'].count(),
        'Item Price': x['Price'].max(),
        'Total Purchase Value': x['Price'].sum(),}
    return pd.Series(column_names,index=['Purchase Count','Item Price','Total Purchase Value'])
items = purchase_data.groupby(['Item ID','Item Name']).apply(agg_items)
#sorting 
pop_items = items.sort_values('Purchase Count',ascending=False)
#formatting columns
pop_items['Purchase Count'] = pop_items['Purchase Count'].astype(int)
pop_items['Item Price'] = pop_items['Item Price'].map('${:,.2f}'.format)
pop_items['Total Purchase Value'] = pop_items['Total Purchase Value'].map('${:,.2f}'.format)

pop_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
#sorting 
profitable_items = items.sort_values('Total Purchase Value',ascending=False)
#formatting columns
profitable_items['Purchase Count'] = profitable_items['Purchase Count'].astype(int)
profitable_items['Item Price'] = profitable_items['Item Price'].map('${:,.2f}'.format)
profitable_items['Total Purchase Value'] = profitable_items['Total Purchase Value'].map('${:,.2f}'.format)
profitable_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80