In [65]:
# import dependencies
import pandas as pd

In [66]:
# Create a data frame with given columns and value
hey_arnold = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

hey_arnold

  Character_in_show color_of_hair   Height  Football_Shaped_Head
0            Arnold        blonde  average                  True
1            Gerald         black  tallish                 False
2             Helga        blonde  tallish                 False
3            Phoebe         black    short                 False
4            Harold       unknown     tall                 False
5            Eugene           red    short                 False

In [67]:
# Rename columns to clean up the look
renamed_df = hey_arnold.rename(columns = {
    "Character_in_show":"Character",
    "color_of_hair":"Hair Color",
    "Height":"Height",
    "Football_Shaped_Head":"Football Head"})
renamed_df.head

<bound method NDFrame.head of   Character Hair Color   Height  Football Head
0    Arnold     blonde  average           True
1    Gerald      black  tallish          False
2     Helga     blonde  tallish          False
3    Phoebe      black    short          False
4    Harold    unknown     tall          False
5    Eugene        red    short          False>

In [68]:
# Organize columns into a more logical order

In [69]:
renamed_df.set_index("Character","Football Head","Hair Color","Height")
renamed_df.head

ValueError: For argument "inplace" expected type bool, received type str.